/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

/*Non-mobile and Mobile*/
*{
    margin: 0px;
    padding: 0px;
}

img{
    padding: 0px;
    border: none;
}

a{
    color: #ffffff;
    /*font-weight: bold;*/
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dddddd;
}

body {	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #d9d4d4;
    background: #000000 url(Images/Menu/bg.jpg) top no-repeat;
}
/*END Non-mobile and Mobile*/


/*logo*/
#logo{
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0px 40px 0px;
}
/*END logo*/


/*logoMobile*/
#logoMobile{
	width: 100%;
margin: 0px 0px 0px 8px;
	padding: 20px 0px 40px 0px;
}
/*END logoMobile*/


/*Non-mobile and Mobile*/
h1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ffffff;
	font-weight: normal;
	line-height: 24px;
	padding: 0px 0px 10px 0px;
}
a small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
}
/*END Non-mobile and Mobile*/


/*menu*/
#menu_bg{
	background: url(Images/Menu/menu_bg.png) repeat-x top;
	height: 63px;
}
#menu{
	width: 1014px;
	margin: 0 auto;
}
#menu ul {
    padding-left: 0px;
    list-style: none;
	float:right;
}
#menu li {
    display: inline;
}
#menu ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: block;
    float: left;
    width: 100px;
    height: 57px;
    padding-top: 22px;
}
#menu ul li a img{
     margin-top: -8px;
}
#menu ul li a:hover, #menu ul li .active{
    color: #ffffff;
    background: url(Images/Menu/hover.jpg) repeat-x top;
}
/*END menu*/


/*menuMobile*/
#menuMobile_bg{
	background: url(Images/Menu/menu_bg.png) repeat-x top;
	height: 63px;
}
#menuMobile{
	width: 100%;
	margin: 0 auto;
}
#menuMobile ul {
    padding-left: 0px;
    list-style: none;
	float:left;
}
#menuMobile li {
    display: inline;
}
#menuMobile ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: block;
    float: left;
    width: 50px;
    height: 57px;
    padding-top: 22px;
}
#menuMobile ul li a img{
     margin-top: -8px;
}
#menuMobile ul li a:hover, #menuMobile ul li .active{
    color: #ffffff;
    background: url(Images/Menu/hover.jpg) repeat-x top;
}
/*END menuMobile*/


/*Non-mobile and Mobile*/
.text{
	color: #000000;
	line-height: 20px;
	font-size: 14px;
	font-family: Arial;
	padding-bottom: 20px;
}
/*END Non-mobile and Mobile*/


/*content*/
#content{
	width: 1024px;
	margin: 0 auto;
}
.grey_border{
	border-bottom: 1px solid #7b7b7b;
	margin-bottom: 20px;
	height: 10px;
	clear: both;
}
#content img.thumb{
    padding: 10px; 
    margin-right: 12px;
    background-color:#DDDDDD;
}
/*END content*/


/*contentMobile*/
#contentMobile{
	width: 100%;
	margin: 0px 0px 0px 8px;
}
.grey_border{
	border-bottom: 1px solid #7b7b7b;
	margin-bottom: 20px;
	height: 10px;
	clear: both;
}
/*END contentMobile*/


/*footer*/
#footer_width{
	width: 984px;
	padding: 0px;
	background: url(images/footer_repeat_bg.jpg) repeat-x top;
	margin: 0 auto;
}
#footer_bot{
	padding-top: 0px;
         margin-bottom: 10px;
	/* border-top: 1px solid #7b7b7b; */
	margin-top: 0px;
}
#footer_bot_left{
	float: left;
}
#footer_bot_left p, #footer_bot_left p a{
	color: #ffffff;
	font-weight: normal;
	font-size: 10px;
}
#footer_icon{
	float: right;
}
#footer_icon a{
	margin-left: 10px;
}
.clear{
	clear: both;
}
#footer_top{
	padding: 30px 0px 0px 0px;
}
#footer_top p{
	color: #ffffff;
}
#footer_top a{
	color: #ffffff;
	font-weight: bold;
}
#footer_left{
	width: 300px;
	float: left;
	padding: 0px 35px 0px 0px;
}
#footer_middle{
	width: 300px;
	float: left;
	padding: 0px 35px 0px 0px;
}
#footer_right{
	width: 300px;
	float: left;
}
#footer_right fieldset {
    border: none;
}
#footer_right input {
    margin-bottom: 5px;
}
#footer_right label{
	color: #ffffff;
	margin: 5px 0px 0px 0px;
	display: block;
	float: left;
} 
/*END footer*/


/*footerMobile*/
#footerMobile_width{
	/* width: 100%; */
	padding: 0px;
	/* background: url(images/footer_repeat_bg.jpg) repeat-x top; */
	margin: 0 auto;
}
#footerMobile_bot{
	padding-top: 0px;
       
	/* border-top: 1px solid #7b7b7b; */
	margin-top: 0px;
}
#footerMobile_bot_left{
	float: left;
}
#footerMobile_bot_left p, #footerMobile_bot_left p a{
	color: #ffffff;
	font-weight: normal;
	font-size: 10px;
}
#footerMobile_icon{
	float: left;
}
#footerMobile_icon a{
	margin-left: 10px;
}
.clear{
	clear: both;
}
/*END footerMobile*/


/* Info Windows */
#iw{
    color: #333333;
}

/* Map Canvas */
#map_canvas{
    width:100%;
    clear:both; 
    position: absolute; 
    left: 0; 
    top: 63px; 
    bottom: 0;
}